/* 
#chess_table TD {width: 3em; height:3em;border:1px solid black;text-align:center;}
#chess_table {border-collapse: collapse;}
TD.B_square {background-color:#DDD;}
TD.W_square {background-color:#FFF;}
IMG.piece {width: 2.1em; height:2.8em;}
TD.pmove {border:3px solid blue; background-color:yellow;}
TD.tomove {border:3px solid blue; background-color:blue;}  */
h1 {
    text-align: center;
    background-color:rgb(102, 224, 102);
    color:rgb(255, 255, 255);
    font-weight: bold;
    margin:auto;
    }
.font{
    color: black;
    font-weight: bold;
    font-size: large;
}
.player {
    text-align: center;
    font-size: 20px;
    color:chartreuse;
    font-weight: bold;
    margin:auto;
}    
.center{
    text-align: center;
    margin: auto;
}
.container {
    width: 100%;
    margin:0px !important;
    padding: 0px !important;
    max-width: unset;
}

.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.hide{
  display: none;  
}
.background {
    width: 90%;
    height: 105vh;
    background-color: rgb(0, 121, 175);
    background-size: cover;
    color: rgb(67, 67, 67);
    text-align: center;
 }
 .disabled{
    pointer-events: none;
  }
 .background2 {
    width: 90%;
    height: 105vh;
    background-color: black;
    background-size: cover;
    color: rgb(67, 67, 67);
    text-align: center;
 }
 .p-style{
    font-size: 20px;
    color:white;
    font-weight: bold;
    margin:auto;
 }

 img {
    width: 7vw;
    height: auto;
}
/*  <div class="container">
        <div class="row">
            <div class="col-6 col-lg-6 background">
                <p class="p-style">text</p>
            </div>
            <div class="col-6 col-lg-6 background2">
                <p class="p-style">text</p>
            </div>
        </div>
</div> */



